<ul id="dwls-results">
	<% for(result_index in results) { if(results.hasOwnProperty(result_index)) { %>
		<li class="dwls-result"><a href="<%= results[result_index].permalink %>">
				<% if(DavesWordPressLiveSearch.settings.design.show_thumbs) { %><div class="dwls_thumbnail_wrapper" style="background:url(<%= results[result_index].thumbnail %>);"></div><% } %>
				<div class="dwls_title"><%= results[result_index].title %></div>
				<% if(DavesWordPressLiveSearch.settings.design.show_metadata) { %>
					<div class="dwls_meta">
						<% if(results[result_index].author_nicename) { %><div class="dwls_author"><%= results[result_index].author_nicename %></div><% } %>
						<% if(results[result_index].date) { %><div class="dwls_pubdate"><%= new Date(Date.parse(results[result_index].date)).toLocaleString() %></div><% } %>
				<% } %>
				<% if(DavesWordPressLiveSearch.settings.design.show_excerpt) { %><div class="dwls_excerpt"><%= results[result_index].excerpt %></div><% } %>
			</a>
		</li>
	<% } } %>
	<% if(results && results.length) { %>
		<li class="dwls-footer">
			Footer
		</li>
	<% } %>
</ul>